/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap"); */
/* @import url(""); */

/* ============================================= */
/*                VARIÁVEIS GLOBAIS              */
/* ============================================= */

:root {
  /* ---------- BASE COLORS ---------- */
  --background-gradient: linear-gradient(135deg, #105744, #14281e);
  --background-light: #f0faf0;
  --background-dark: #183627;

  /* ---------- TEXT COLORS ---------- */
  --text-light: #ffffff;
  --text-dark: #000000;

  /* ---------- PRIMARY COLORS ---------- */
  --primary-color: #105744;
  --accent-color: #2b9693;
  --secondary-color: #3e8e63;

  /* ---------- SPACING & LAYOUT ---------- */
  --spacing-large: 40px;
  --spacing-medium: 20px;
  --spacing-small: 10px;
  --mobile-breakpoint: 768px;
  --transition-speed: 0.3s;
  --navbar-z-index: 1000;
}

/* ============================================= */
/*                ESTILOS BASE                   */
/* ============================================= */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  animation: twinkle 15s infinite alternate;
}

/* ============================================= */
/*                TIPOGRAFIA                     */
/* ============================================= */
h1 {
  font-size: 1.25rem;
  color: var(--primary-color);
  text-transform: uppercase;
  margin: 0 0 0 0;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 0 0;
}

h3 {
  text-transform: uppercase;
  margin: 0 0 0 0;
}

p {
  font-size: 1.1rem;
  margin: var(--spacing-small);
  text-align: left;
}
